/******************************
Base Styles
******************************/
# {
  box-sizing: border-box;
}

body,
a {
  background-color: #fdfdfd;
  color: #050505;
  font-family: "Spectral", "Constantia", sans-serif;
  text-align: center;
}

header,
footer {
  text-align: left;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

li {
  text-align: center;
  padding: 0;
  margin: 0;
}

/******************************
Navigation
******************************/

.flex {
  display: flex;
  justify-content: space-around;
}

.flex h1 {
  flex: 1;
}

.flex nav {
  flex: 3;
}

.flex li {
  flex: 1;
}
